/* style rules */
html {
  background-color: #f7f3eb;
  font-family: Garamond, serif;
  border-radius: 5px;
}

header {
  text-align: center;
  font-size: 14pt;
  font-weight: 700;
  padding: 5px 5px;
  background-color: #dfaf5e;
  border-radius: 5px;
}

header > h1 {
  margin: 5px 0;
  color: #002f1e;
}

nav > ul {
  margin: 10px 0;
}

nav > ul > li {
  list-style-type: none;
  display: inline;
  margin-right: 25px; 
  padding: 5px;
}

nav > ul > li > a {
  color: #002f1e;
}

nav > ul > li > a:hover {
  color: #95424e;
}
  
main > section {
  padding: 10px;
  margin: 30px 15px;
  background-color: #c2a887;
  box-shadow: rgba(0,0,0,0.4) 10px 10px 10px;
  color: #bd152b;
  border-radius: 5px;
}

main > section > h2 {
  margin-top: 5px;
  margin-bottom: 30px;  /* will adjust margin-bottom after I get content inside section */
}

footer {
  font-size: 12px;
  text-align: center;
  padding: 5px;
  background-color: #dfaf5e;
  color: #002f1e;
  border-radius: 5px;
}
  
  
  
